.pub-image {
  width: auto;
  height: 40px;
}

.fs-small {
  font-size: 14px;
}

.fs-smaller {
  font-size: 12px;
}

.box{
  box-sizing: border-box;
  border: 8px solid transparent;
  background-clip:padding-box;
}