.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav p a {
  text-decoration: none;
}

* {
  font-family: "Open Sans", sans-serif;
}

.main {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.4937325271905637) 0%,
    rgba(253, 187, 45, 0.2836484935771183) 100%
  );
  height: "100%";
}

.pub-image {
  width: auto;
  height: 40px;
}

.fs-small {
  font-size: 14px;
}

.fs-smaller {
  font-size: 12px;
}

.box {
  box-sizing: border-box;
  border: 8px solid transparent;
  background-clip: padding-box;
}

.bg-none {
  background: #fff;
  width: 100px; 
}
